* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(183, 182, 182)
  }



header {
  background-color: maroon;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    display: inline;
    background-color: maroon;
    
}

header h1 span {
    background-color: salmon;
  
}


header a {
  text-decoration: none;
  color: salmon
}

header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  h2{
    display: inline;
    color: maroon;
    font-size: 30px;
    margin: 0;
  }

  .aboutme h2{
    border: 10px maroon;
  }

  p {
    text-align: left;
    margin: auto;
    width: 500px;
  }


/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

  
  footer {
    background: salmon;
    width: 100%;
    padding: 20px 15px;
  }

  footer h2 {
    display: inline;
    color: maroon;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: maroon;
    text-decoration: none;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  .hero {
    padding: 50px;
    background-image: url(../portfolio/assets/images/martin-adams-707980-unsplash_\(3\).jpg);
    background-size: cover;
    background-position: center;
  }