* {
  margin: 0;
  padding: 0;
}

body {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
  }



header {
  background-color: green;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    display: inline;
    background-color: green;
    
}

header h1 span {
    background-color: yellow;
    border: yellow;
}


header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
