* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(183, 182, 182);
    max-width:  100%;
    overflow-x: hidden;
  }

/*Header Section*/

header {
  background-color: maroon;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    display: inline;
    background-color: maroon;
    
}

header h1 span {
    background-color: salmon;
  
}


header a {
  text-decoration: none;
  color: salmon
}

header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  h2 {
    position: relative;
    color: maroon;
    font-size: 30px;
    margin: 0;
  }

  h2.aboutme {
    left: 115px;
  }

  p {
    position: relative;
    text-align: right;
    width: 500px;
    font-size: 20px;
    left: 700px;
    bottom: 70px;
  }

  .vl {
    border-left: 6px solid maroon;
    height: 100px;
    position: absolute;
    left: 19%;
    margin-left: -3px;
    top: 141px;
  }

  .v2 {
    border-left: 6px solid maroon;
    height: 883px;
    position: absolute;
    left: 19%;
    margin-left: -3px;
    top: 302px;
  }

/* Work Section */

  h2.work {
    left: 115px;
  }

  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    
  }

  .flexbox-item {
    width: 200px;
    margin-bottom: 2%;
    border: 3px solid black;
    background-color: white;
    background-size: cover;
    
  }

  .flexbox-item1{
    min-height: 300px;
    min-width: 600px;
    background-image: url(../portfolio/assets/images/hero-bg.jpg);
    
    
  }


  .flexbox-item2 {
    min-height: 100px;
    min-width: 600px;
    background-image: url(../portfolio/assets/images/horiseon.jpg);
    background-size: contain;
 }




  .flexbox-item3 {
    min-height: 100px;
    min-width: 600px;
    background-image: url(../portfolio/assets/images/ledwall.jpg);
    background-size: auto;
  }

  .flexbox-item4 {
    min-height: 100px;
    min-width: 600px;
    background-image: url(../portfolio/assets/images/calculator.jpg);
    background-size: auto;
  }

  .flexbox-item5 {
    min-height: 100px;
    min-width: 600px;
    background-image: url(../portfolio/assets/images/surf\ report.jpg);
    background-size: auto;
  }

  .flexbox-container h2 {
    position:absolute;
    background-color: salmon;
    border: 3px solid black;
  }

  .flexbox-item:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
  }
/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

  
  footer {
    background: salmon;
    width: 100%;
    padding: 20px 15px;
  }

  footer h2 {
    display: inline;
    color: maroon;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: maroon;
    text-decoration: none;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  .hero {
    padding: 50px;
    background-image: url(../portfolio/assets/images/martin-adams-707980-unsplash_\(3\).jpg);
    background-size: cover;
    background-position: center;
  }

  
